<h2 class = 'title pb-4'> LOGIN </h2>
  <form id = 'login-form' class = 'card-body'>
    <div class = 'form-row'>
      <label class = 'form-label' for = 'username'> USERNAME </label>
      <input id = 'username' type = 'text' autofocus = 'true' class = 'format-input form-control'/>
    </div>
    <div class = 'form-row mb-3'>
      <label class = 'form-label' for = 'password'> PASSWORD </label>
      <input id = 'password' type = 'password' autofucus = 'true' class = 'form-input form-control'/>
    </div>
    <button type = 'submit' class = 'btn'> LOGIN </button>
    <a class = 'btn login-link' href = '/signup'> SIGN UP </a>
  </form>

  <script src = '/js/login.js'></script>
