<h2 class = 'card-heading'> SIGN UP </h2>
<form id = 'signup-form' class = 'card-body'>
  <div class = 'form-row'>
    <label for = 'user-signup' class = 'form-label'> USERNAME </label>
    <input id = 'user-signup' type = 'text' class = 'form-input form-control'/>
  </div>
  <div class = 'form-row'>
    <label class = 'form-label' for = 'email' class = 'form-input form-control'> PASSWORD </label>
    <input id = 'email' type = 'email' class = 'form-input form-control'/>
  </div>
  <div class = 'form-row'>
    <label class = 'form-label' for 'password'> PASSWORD </label>
    <input id = 'password' type = 'password' class = 'form-input form-control'/>
  </div>
  <button type = 'submit' class = 'btn'> SIGN UP </button>
  <a class = 'btn login-link' href = '/login'> LOGING </a>
</form>

<script src = '/js/signup.js'></script>